html {
    font-size: 62.5%;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

img {
    max-width: 100%;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

input:focus {
    outline: none;
    border: none;
}

:root {
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
    color: var(--Dark-Blue);
    min-height: 100vh;
}

#app {
    position: relative;
    overflow: hidden;
}

.bg-tablet-pattern {
    position: absolute;
    top: -4.0rem;
    right: -6.0rem;
    z-index: -100;
}

header {
    padding: 2.4rem ;
}

.content-wrapper {
    max-width: 85.0rem;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-links {
    display: none;
}

nav .cta {
    display: none;
}

.hero-page {
    padding: 2.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.hero--details {
    text-align: center;
    align-self: center;
}

.hero--title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.hero--description {
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5;
    margin-bottom: 2.2rem;
}

.cta {
    padding: 1.2rem 2.4rem;
    border-radius: 2.5rem;
}

.cta-orange {
    font-size: 1.7rem;
    background-color: var(--Bright-Red);
    color: var(--Very-Light-Gray);
}

.testimonials-wrapper {
    margin: 8.8rem 1.6rem 5.5rem;
    text-align: center;
}

.testimonials-wrapper h2 {
    margin-bottom: 6.5rem;
}

.testimony-card {
    position: relative;
    background-color: var(--Very-Light-Gray);
    padding: 4.2rem 2.2rem;
}

.client-avatar {
    width: 7.5rem;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -3.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.client-name {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 1.9rem;
    margin-bottom: 2.0rem;
}

.client-testimony {
    line-height: 1.5;
    color: var(--Dark-Grayish-Blue);
}






h2 {
    margin: 2.2rem auto;
    text-align: center;
    font-size: 3.0rem;
}

.about-services {
    position: relative;
}

.bg-about-pattern {
    position: absolute;
    top: -35.0rem;
    right: -22.0rem;
    z-index: -100;
}

.about--description {
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5;
    margin: auto 2.2rem;
}

.service-list {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.0rem;
}

.card-banner {
    background-color: var(--Very-Pale-Red);
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-left: 1.6rem;
    margin-bottom: 1.6rem;
    border-radius: 2.5rem 0 0 2.5rem;
}

.card-number {
    background-color: var(--Bright-Red);
    color: var(--Very-Light-Gray);
    padding: 0.8rem 2.4rem;
    border-radius: 2.5rem;
    font-weight: 500;
}

.card-title {
    font-weight: 700;
}

.desc {
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5;
    margin: auto 1.2rem;
}

.selection-list {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 3.5rem auto 6.5rem;
}

.selection {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 0.05rem solid var(--Bright-Red);
}

.active {
    background-color: var(--Bright-Red);
}





.content-action {
    background-color: var(--Bright-Red);
    background-image: url('images/bg-simplify-section-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    color: var(--Very-Light-Gray);
    width: 100%;
    height: 50.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    max-width: 80.0rem;
}

.content h2 {
    font-size: 3.8rem;
    line-height: 1.5;
    margin: 2.2rem;
}

.cta-white {
    background-color: var(--Very-Light-Gray);
    color: var(--Bright-Red);
    font-size: 1.7rem;
}





footer {
    background-color: #1e1e26;
    color: var(--Very-Light-Gray);
    padding: 4.2rem 2.2rem 2.8rem;
    text-align: center;
}

footer a {
    color: var(--Very-Light-Gray);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.0rem;
    margin-bottom: 5.5rem;
}

input[type='email'] {
    background-color: var(--Very-Light-Gray);
    padding: 1.2rem 2.4rem;
    border-radius: 2.5rem;
    display: inline-block;
    flex: 1;
}

.page-sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3.0rem;
    margin-bottom: 3.5rem;
    text-align: start;
}

.page-sitemap ul {
    display: flex;
    flex-direction: column;
    gap: 2.0rem;
}

.copyright {
    margin-top: 2.8rem;
    font-size: 1.5rem;
    color: var(--Dark-Grayish-Blue);
}